@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
	color: white;
}
.main_container{
	height: 45vh;
	width: 100vw;
	background: rgba(0, 166, 152, 0.72);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.banner{
	margin-left:85vw ;
	width: 15vw;
	height: 50px;
	display: flex;
	padding-top: 3px;
	

	
}
.banner img{
	width: 60px;
	border-radius:50%;

}
.banner p{
	color: white;
	font-size: 20px;
	padding-left: 2px;
}
.stats{
	width: 50%;
	margin-top:25px;
	display: flex;
	flex-direction: row;
	padding-left:20px;

}
.card_div{
	margin-top: 0;
	margin-left: 50px;
	width: 50%;
	background-color: white;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	padding: 10px;



}
.first_row{
	display: flex;

}
.card-text{
	padding-left: 2%;
}
.first_row img{
	padding-left: 12%;
	width: 45px;
}
.card-text p{
	font-size: 20px;
	line-height: 23px;
	color: rgba(0, 0, 0, 0.7);

}
.card-text b{
	font-size: 40px;
	color: black;
	padding:0px;
	margin: 0px;
}
.status-text{
	padding-left: 2%;
	color: rgba(0, 0, 0, 0.7);
	padding-top: 2%;

}
.listed{
	padding: 0px;
	margin-top: 50px;
}
.listed p{
	font-size: 20px;
	margin-left: 20px;

}
ul{
	list-style: none;
	margin: 0;
	padding:0;
}
.the_list{
	background: #3FC1C9;
border-radius: 5px;
	margin: 0;
	padding: 5px;
	width: 95%;
	margin: auto;
	margin-top: 5px;
	display: flex;
	color: rgba(0, 0, 0, 0.7);
	


}
.the_list p{
	font-size: 20px;
	width: 20%;
	padding: 0;
	margin: 0;
	text-align: center;

}
.key{
	background: #364F6B;
	border-radius: 5px;
	color: white;

}
.generate{
	height: 25px;
	position: absolute;
	background-color: #ff6961;
	padding: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	color: white;
	right: 70px;
	margin-top: 35vh;
	transition: background-color 0.1s;

}
.generate:hover{
	background-color: #e3242b;
}
.pop{
	position: absolute;
	background-color: #fff;
	

	border-radius:5px;
	width: 50%;
	height: 50%;
	z-index: 993;
	align-items: center;
	text-align: center;

}

   #cover{
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index:5;
      width:100%;
      height:100%;
      display:none;
    }
    #loginScreen
    {
      height:70%;
      width:90%;
      margin-left:5%;
      margin-top: 5%;
      position:fixed;
      z-index:10;
      display:none;
      background-color: white;
      overflow-y: scroll;
      align-items: center;
    }
    #loginScreen:target, #loginScreen:target + #cover{
      display:block;
      opacity:2;
    }
    .cancel
    {
      display:block;
      position:absolute;
      top:3px;
      right:2px;
      background:rgb(245,245,245);
      color:black;
      height:30px;
      width:35px;
      font-size:30px;
      text-decoration:none;
      text-align:center;
      font-weight:bold;
    }


#loginScreen h1{
	text-align: center;
}
.title{
	padding-top: 20px;
	font-size: 30px;
	color: #777777;


}
#loginScreen input{
	text-align: center;
	width: 30vw;
	height: 5vh;
	margin-left: 30vw;
	font-size: 15px;
	color: grey;
  	border: none;
  	border-radius: 0.4rem;
  	transition: box-shadow var(--transitionDuration);
	outline: none;
	background-color: #eee;
}
#loginScreen input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem grey;
}
#loginScreen input::placeholder {
  color: #B0BEC5;
}
.shops{
	width: 40vw;
	margin: auto;
	margin-top: 25px;
	overflow-x: scroll;
	display: flex;


}
.card2 {
	border-radius: 5px;
	background-color: white;
	margin: 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.card2  img {
	width: 10vw;
	padding: 0;
	margin: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

}

.card2 h4 {
	color: black;
	margin: 0;
	padding: 0;
	text-align: center;
}
.card2 p{
	margin:0;
	padding: 0;
	text-align: center;
	color: grey;
	padding-bottom: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.example_e {
border: none;
background: #043927;
color: #ffffff !important;
border-radius: 2px;
font-weight: 100;
padding: 10px;


display: inline-block;
margin: 20px;
transition: all 0.3s ease 0s;
padding-left: 25px;
padding-right: 25px;
}
.example_e:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

a {
  color: inherit;
}

.cards-wrapper {
}

.card {
  --bg-filter-opacity: 0.5;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(https://i.pinimg.com/originals/77/91/a3/7791a306b0d74957cb1ffab255b18071.jpg);
  height: 30vh;
  width:20vw;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  /*margin: 2em;*/

  align-items: flex-end;
  background-size: cover;
  background-position: center;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  margin: 0;
  margin-top: 2vw;
  margin-left: 35vw;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 20px;
  text-align: center;
  padding-top: 0px;


}

.card p {
  font-size: 15px;
  margin-top: 0.5em;
  text-align: center;
  color: #999;

}

.card .tags {
  display: flex;
  position: absolute;
  bottom: 0;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.5em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

.pay{
	position: relative;
	padding: 10px;
	background-color: black;
	color: white;
	font-weight: bold;
}